_configs.sed
Makefile
Makefile.in
config.guess
config.sub
acconfig.h
aclocal.m4
autom4te.cache
config.cache
config.log
config.status
configure
conftest
conftest.c
generated_lists
meta_cc
meta_ccld
mkinstalldirs
missing
install-sh
libtool
shlibtool
*.lo
*.la
libs
.deps
.libs
_libs
include
confdefs.h
*.gcda
*.gcno
cscope.out
ltmain.sh
depcomp
config.h
config.h.in
stamp-h1

